@font-face{
    font-family: 'SFProDisplay';
    src: local('SFProDisplay'),
    url('./fonts/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF') format('truetype');
    font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
body{
    background-color:  #E5E5E5 !important;
    font-family: 'SFProDisplay';
}
